includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - routes/
    level: 9
    ignoreErrors:
        -
            identifier: larastan.noEnvCallsOutsideOfConfig
